<header class="hero">
    <div class="textosHero">
        <h1>Welcome to Target Language</h1>
        <p>Servicios de traducción</p>
        <a href="#contacto">Contacto</a>
    </div>
    <div class="svg-hero" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</header>
<!-- Fin header -->

<!-- Inicio sección 1 -->
<section class="waveContenedor website">
    <img src="images/ilustracion1.svg" alt="" />
    <div class="contenedorTextosMain">
        <h2 class="contenedorTextosMain">Estamos para ayudarte!</h2>
        <p class="parrafo">
            Presentanos tu proyecto y te asesoraremos de inmediato para darte diferentes opciones
            adaptables a tus necesidades. Trabajamos con particulare, empresas y embajadas.
            Nuestros servicios tienen valor legal, ya que nos avala el Colegio de Traductores
            Públicos de la Ciudad de Buenos Aires.
        </p>
    </div>
</section>
<!-- Fin sección 1 -->

<!-- Inicio sección 2 (Descripción + párrafo) -->
<section class="info">
    <div class="contenedor">
        <h2 class="titulo left">Brindamos todo tipo de opciones</h2>
        <p>Traducciones técnicas y literarias.</p>
    </div>
</section>
<!-- Fin sección 2 -->

<!-- Inicio sección 3 (cards) esperando peticiones del cliente-->
<section class="cards contenedor">
    <h2 class="titulo">Quienes somos</h2>
    <div class="contentCards">
        <article class="card">
            <i class="far fa-clone"></i>
            <h3>Titulo card</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="" class="cta">Aprende más</a>
        </article>
        <article class="card">
            <i class="fas fa-database"></i>
            <h3>Titulo card</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="" class="cta">Aprende más</a>
        </article>
        <article class="card">
            <i class="far fa-object-group"></i>
            <h3>Titulo card</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="" class="cta">Aprende más</a>
        </article>
    </div>
</section>
<!-- Fin sección 3 -->

<!-- Inicio sección 4 (Novedades) -->
<div id="novedades" class="row py-4 table table">
    <div class="col-md-5 offset-md-2 py-3">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#modal{{id}}">{{titulo}}</a>
            </li>
            {{/each}}
        </ul>
    </div>    
</div>

<!-- Inicia modal -->
{{#each novedades}}
<div class="modal fade" id="modal{{id}}" aria-labelledby="exampleModalToggleLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{titulo}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>{{subtitulo}}</h2>
                <p>{{cuerpo}}</p>
            </div>
        </div>
    </div>    
</div>
{{/each}}

<!-- Inicio sección 5 (opcional según quiera cliente) -->
<section class="infoLast">
    <div class="contenedor lastSection">
        <div class="contenedorTextosMain">
            <h2 class="titulo left">Título de la sección</h2>
            <p class="parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Incidunt nemo placeat, quas fuga eligendi dolore? Ea provident
                perferendis, optio distinctio architecto nemo mollitia magnam
                recusandae aperiam id, dolore, repellat expedita?
            </p>
            <a href="" class="cta">Aprende más</a>
        </div>
        <img src="images/ilustracion.svg" alt="" />
    </div>
</section>
<!-- Fin sección 5 -->

<!-- Inicio sección 6 (Redes sociales) -->
<section>
    <nav>
        <div class="redesSociales">
            <a target="_blank" href="https://www.instagram.com/targetlanguage_/" class="fa fa-instagram"></a>
            <a target="_blank" href="https://www.linkedin.com/company/targetlanguage/" class="fa fa-linkedin"></a>
        </div>
    </nav>
</section>
<!-- Fin sección 6 -->

<!-- Inicio footer (planilla contacto) -->
<footer id="contacto">
    <div class="contenedor">
        <h2 class="titulo">Contáctanos!</h2>
        <form action="/" class="form" method="post">
            <input class="input" type="text" name="nombre" id="nombre" placeholder="Nombre" />
            <input class="input" type="email" name="email" id="email" placeholder="Email" />
            <textarea class="input" name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Mensaje"></textarea>
            <input class="input" type="submit" value="Enviar" />
        </form>
        {{#if message}}
            {{message}}
        {{/if}}
    </div>
</footer>
<!-- Fin footer -->